<div class='contract'>
  {{#unless confirmed}}
    <div class='contract-title'>
      You can now become an authorized Ciena Developer. Please read the contract below and agree to our terms
    </div>
    <div class='contract-body'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque risus ac ipsum rhoncus tincidunt. 
      Proin nec lectus scelerisque quam gravida tempus. Aliquam a erat gravida, ultrices sem non, suscipit tortor. 
      Vivamus suscipit massa dolor, et ultricies sem convallis eget. Curabitur volutpat condimentum nulla, ut 
      vestibulum enim fermentum sed. Vivamus feugiat nulla sed libero dignissim egestas. Nulla ac felis euismod, 
      porttitor nunc non, dignissim velit. Maecenas sed malesuada elit. Donec a nulla pulvinar elit semper aliquam 
      ac eleifend nunc. Nam euismod quis lacus et pellentesque. Nam quis ultricies ex. Vestibulum interdum, neque 
      id gravida hendrerit, quam nisl dictum mauris, at dictum ligula ante quis ipsum. Curabitur sed mauris at lectus 
      ultricies tristique. Praesent mattis vitae ex nec facilisis. Etiam massa quam, fermentum nec congue sed, porta 
      in urna. Etiam elementum libero massa. Aenean eleifend ullamcorper pretium. Vivamus non gravida purus. Nullam 
      hendrerit ante a metus rhoncus, non tincidunt nibh tincidunt. Duis pretium lectus sed nunc sollicitudin, nec 
      pulvinar nunc rutrum. Nulla ex diam, commodo nec pellentesque vel, placerat nec neque. Vestibulum ullamcorper 
      aliquet tempus. Fusce id mi suscipit orci vestibulum vestibulum nec sit amet orci. Nunc a ullamcorper turpis, 
      a vulputate lorem. Sed luctus ut velit ut pretium. Nam congue, risus ac consectetur luctus, lectus elit consequat 
      felis, eget cursus sem est sit amet lacus. Morbi sit amet velit auctor, semper leo vitae, fringilla ligula. 
      Nunc fringilla feugiat ex, sed facilisis enim suscipit eu. Sed accumsan velit sed ipsum luctus tincidunt. Curabitur 
      non ex sit amet tortor interdum tincidunt non ut massa. Praesent urna ante, pulvinar et metus ut, venenatis 
      pellentesque augue. Etiam efficitur magna non nisl dignissim pharetra. Sed a ex eget dui imperdiet aliquam quis 
      eu ex. Ut cursus tortor purus. Donec dapibus dolor fringilla nibh cursus iaculis. Suspendisse tortor ipsum, 
      bibendum eu purus vitae, malesuada consequat nisl. Maecenas egestas augue nec ligula pretium, vitae mattis 
      lorem aliquet. Nullam dapibus pulvinar eros sed faucibus. Nullam vel quam elementum, laoreet augue eget, 
      suscipit augue. Maecenas vel erat ac quam condimentum dapibus. In eget convallis libero. Integer auctor sit 
      amet magna ut eleifend. Nunc at felis at risus vestibulum cursus vitae sit amet leo. Duis sed ultricies nisi, 
      eu sodales neque. Maecenas enim massa, tempor et elit nec, auctor gravida ipsum. Donec tincidunt nibh nec tellus 
      dapibus mattis. Vivamus nec tempus mauris. Nam lobortis massa facilisis dictum placerat. Integer sodales turpis 
      at consequat eleifend. Integer id condimentum tortor, maximus tristique turpis. Curabitur dolor magna, venenatis 
      ac ipsum non, vehicula efficitur nulla. Sed quis enim sed metus posuere bibendum. Praesent imperdiet quis metus 
      nec dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vel eros odio. Duis ornare 
      neque neque, ac dapibus nisl hendrerit a. Aenean aliquam libero nunc, in maximus lectus euismod tincidunt. Donec 
      ullamcorper orci mi, quis vulputate dolor porttitor sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Proin scelerisque risus ac ipsum rhoncus tincidunt. Proin nec lectus scelerisque quam gravida tempus. Aliquam  
      Vivamus suscipit massa dolor, et ultricies sem convallis eget. Curabitur volutpat condimentum nulla, ut 
      vestibulum enim fermentum sed. Vivamus feugiat nulla sed libero dignissim egestas. Nulla ac felis euismod, 
      porttitor nunc non, dignissim velit. Maecenas sed malesuada elit. Donec a nulla pulvinar elit semper aliquam 
      ac eleifend nunc. Nam euismod quis lacus et pellentesque. Nam quis ultricies ex. Vestibulum interdum, neque 
      id gravida hendrerit, quam nisl dictum mauris, at dictum ligula ante quis ipsum. Curabitur sed mauris at lectus 
      ultricies tristique. Praesent mattis vitae ex nec facilisis. Etiam massa quam, fermentum nec congue sed, porta 
      in urna. Etiam elementum libero massa. Aenean eleifend ullamcorper pretium. Vivamus non gravida purus. Nullam 
      hendrerit ante a metus rhoncus, non tincidunt nibh tincidunt. Duis pretium lectus sed nunc sollicitudin, nec 
      pulvinar nunc rutrum. Nulla ex diam, commodo nec pellentesque vel, placerat nec neque. Vestibulum ullamcorper 
      aliquet tempus. Fusce id mi suscipit orci vestibulum vestibulum nec sit amet orci. Nunc a ullamcorper turpis, 
      a vulputate lorem. Sed luctus ut velit ut pretium. Nam congue, risus ac consectetur luctus, lectus elit consequat 
      felis, eget cursus sem est sit amet lacus. Morbi sit amet velit auctor, semper leo vitae, fringilla ligula. 
      Nunc fringilla feugiat ex, sed facilisis enim suscipit eu. Sed accumsan velit sed ipsum luctus tincidunt. Curabitur 
      non ex sit amet tortor interdum tincidunt non ut massa. Praesent urna ante, pulvinar et metus ut, venenatis 
      pellentesque augue. Etiam efficitur magna non nisl dignissim pharetra. Sed a ex eget dui imperdiet aliquam quis 
      eu ex. Ut cursus tortor purus. Donec dapibus dolor fringilla nibh cursus iaculis. Suspendisse tortor ipsum, 
      bibendum eu purus vitae, malesuada consequat nisl. Maecenas egestas augue nec ligula pretium, vitae mattis 
      lorem aliquet. Nullam dapibus pulvinar eros sed faucibus. Nullam vel quam elementum, laoreet augue eget, 
      suscipit augue. Maecenas vel erat ac quam condimentum dapibus. In eget convallis libero. Integer auctor sit 
      amet magna ut eleifend. Nunc at felis at risus vestibulum cursus vitae sit amet leo. Duis sed ultricies nisi, 
      eu sodales neque. Maecenas enim massa, tempor et elit nec, auctor gravida ipsum. Donec tincidunt nibh nec tellus 
      dapibus mattis. Vivamus nec tempus mauris. Nam lobortis massa facilisis dictum placerat. Integer sodales turpis 
      at consequat eleifend. Integer id condimentum tortor, maximus tristique turpis. Curabitur dolor magna, venenatis 
      ac ipsum non, vehicula efficitur nulla. Sed quis enim sed metus posuere bibendum. Praesent imperdiet quis metus 
      nec dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vel eros odio. Duis ornare 
      neque neque, ac dapibus nisl hendrerit a. Aenean aliquam libero nunc, in maximus lectus euismod tincidunt. Donec 
      ullamcorper orci mi, quis vulputate dolor porttitor sed.
    </div>
    <div class='contract-submit'>
      {{frost-checkbox
        size='small'
        label='I agree to the terms and conditions of this contract'
        onInput=(action 'onInputHandler')
      }}
      {{frost-button
        priority='confirm'
        size='small'
        text='Submit'
        disabled=disabled
        onClick=(action 'submitForm')
      }}
    </div>
  {{/unless}}
  {{#if confirmed}}
    <div class='confirmed-message'>
      Thank you for agreeing to our terms and conditions. Your username and token are displayed below. You must add a config.json file 
      to your build when submitting tests to this server. For more information, please visit this <a href='http://github.com/pastorsj/webdriverio-server/'> link </a>
    </div>
    <table>
          <tr>
              <td class='portal_text_a' id='portal_username_label'>Username</td>
              <td class='portal_text_b' id='username_label'>{{username}}</td>
          </tr>
          <tr>
              <td class='portal_text_a' id='portal_token_label'>Token</td>
              <td class='portal_text_b' id='token_label'>{{token}}</td>
          </tr>
    </table>
    <div class='confirmed-message'>
      Make sure to copy the token before leaving this screen. Thanks!
    </div>
  {{/if}}
</div>
  
