.contract-body {
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
}

.contract-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.contract-title {
  font-size: 25pt;
  color: #404041;
  text-align: center;
  margin: 25pt;
}

.contract {
  overflow: scroll;
  height: 100vh;
}

.confirmed-message {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 16pt;
  color: #666666;
  padding: 20px;
}