// Portal Route

.portal-bar {
    background-color: #344250;
    height: 60px;
}

.frost-object-browser-actions {
    // background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-height: 90vh;
    width: calc(100% - 50px);
    z-index: -1;
}

.selection {
    padding-left: 50px;
    padding-top: 40px;
}

.primary-title {
    font-size: 20px;
}

.ps-content {
    margin-top: 100px;
}



