@import 'node_modules/ember-frost-core/addon/styles/addon';

.flex {
    display: flex;
    flex-direction: column;
}

.container {
    @extend .flex;
    min-height: 100vh;
}

.main {
    @extend .flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.title {
    text-align: center;
    padding: 40px;
    color: #7f91be;
    font-size: calc(13px + 2vw)
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    display: flex;
    align-items: center;
    a {
        @extend .frost-link;
        @extend .small;
        @extend .secondary;
    }
}

.link {
    padding: 2px;
}

.login {
    @extend .flex;
    button {
        width: 150px;
        margin: 20px auto;
    }
}

.ciena-image {
    width: 200px;
}

.welcome_title {
    @extend .title;
    width: 75%;
}

.logo {
    padding-bottom: 30px;
}

.username_form {
    @extend .logo;
}

body {
    overflow: hidden;
}

.success {
    color: green;
}

.result {
    padding-top: 2vh;
    font-size: calc(10px + 1vw);
    text-align: center;
    white-space: normal;
    width: 50%;
}

.failure {
    color: red;
}


