@import 'node_modules/ember-frost-core/addon/styles/addon';

.flex {
    display: flex;
    flex-direction: column;
}

.container {
    @extend .flex;
    min-height: 100vh;
}

.main {
    @extend .flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.title {
    text-align: center;
    padding: 5vh 2vw 5vh 2vw;
    color: #7f91be;
    font-size: calc(16px + 2vw)
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    display: flex;
    align-items: center;
    a {
        @extend .frost-link;
        @extend .small;
        @extend .secondary;
    }
}

.link {
    padding: 2px;
}

// Login Route 

.login-main {
     @extend .flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.login {
    border-left-width: 4px;
    border-left-color: #1253a5;
    border-left-style: solid;
    box-shadow: 0px 0px 50px 20px #e2e2e2;
    padding-top: 40px;
    padding-left: 40px;
    button {
        width: 150px;
    }
}

.login-button {
    @extend .flex;
    align-items: flex-end;
}

.form {
    padding-top: 15px;
}

.blue-planet-image {
    width: 232px;
}

.logo {
    padding-bottom: 2vh;
}

.username_form {
    @extend .logo;
}

body {
    overflow: hidden;
}

.success {
    color: green;
}

.result {
    padding-top: 2vh;
    font-size: calc(10px + 1vw);
    text-align: center;
    white-space: normal;
    width: 50%;
}

.failure {
    color: #d1625e;
}

.login-result {
    @extend .result;
    font-size: 14px;
    padding-bottom: 10px;
    white-space: none;
    width: 100%;
}

// Portal Route

.portal-bar {
    background-color: #344250;
}

.main-body {
    top: 53px;
    padding: 53px 0px 0px 0px;
}


@media screen and (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3px;
    }
    .username_form {
        width: 100vw;
    }
}


