@import 'node_modules/ember-frost-core/addon/styles/addon';

@import './login-view';
@import './portal-view';

.flex {
    display: flex;
    flex-direction: column;
}

.container {
    @extend .flex;
    min-height: 100vh;
}

.main {
    @extend .flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.title {
    text-align: center;
    padding: 5vh 2vw 5vh 2vw;
    color: #7f91be;
    font-size: calc(16px + 2vw)
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    display: flex;
    align-items: center;
    a {
        @extend .frost-link;
        @extend .small;
        @extend .secondary;
    }
}

.link {
    padding: 2px;
}

.blue-planet-image {
    width: 232px;
}

.logo {
    padding-bottom: 2vh;
}

body {
    overflow: hidden;
}

.success {
    color: green;
}

.result {
    padding-top: 2vh;
    font-size: calc(10px + 1vw);
    text-align: center;
    white-space: normal;
    width: 50%;
}

.failure {
    color: #d1625e;
}

.login-result {
    @extend .result;
    font-size: 14px;
    padding-bottom: 10px;
    white-space: none;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3px;
    }
    .username_form {
        width: 100vw;
    }
}


