# External Dependencies
npm-debug.log
node_modules
bower_components

# Generated Directories
build-*
coverage

# OSX Temporary Files
.DS_Store

# IDE/Editor Files
.*.swp
*~
.idea

# Project-specific Ignores
screenshots
uploads

# Redis Dump Files
dump.rdb
