@import 'node_modules/ember-frost-core/addon/styles/addon';

.flex {
    display: flex;
    flex-direction: column;
}

.container {
    @extend .flex;
    min-height: 100vh;
}

.main {
    @extend .flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bar {
    display: flex;
    align-items: center;
}

.link {
    padding: 2px;
}

.login {
    @extend .flex;
    button {
        width: 150px;
        margin: 20px auto;
    }
}

.ciena-image-filler {
    width: 200px;
}

a {
    @extend .frost-link;
    @extend .small;
    @extend .secondary;
}

