<div class="container">
    <div class='main'>
        <div class='title'>
            Welcome to the <br> Ciena Developer's Community
        </div>
        <div class='logo'>
            <img src="./images/frost_logo.png">
        </div>
        {{#frost-link 'register'
        priority='secondary'
        size='medium'
        }}
        Sign Up Here
        {{/frost-link}}
    </div>
    <div class='footer'>
        <span class='ciena-image'>
        </span>
        <span class='bar'>
            <span class='link'>
                {{#frost-link 'login'
                priority='secondary'
                size='small'}}
                Login
                {{/frost-link}}
            </span>
            <span class='link'>
                <a href='https://www.github.com/ciena-blueplanet/webdriverio-server'>
                    <div class='content'>
                        Interested in Contributing?
                    </div>
                </a>
            </span>
        </span>
        <span class='ciena-image'>
            <img src="./images/ciena_logo.png">
        </span>
    </div>
</div>