<div class="container">
    <div class='main'>
        <div class='title'>
            Welcome to the <br> Ciena Developer's Community
        </div>
        <div class='logo'>
            <img src="./images/frost_logo.png">
        </div>
        <span class='link'>
            <a href='/auth'>
                <div class='content'>
                    Sign Up
                </div>
            </a>
        </span>
    </div>
    <div class='footer'>
        <span class='bar'>
            <span class='link'>
                {{#frost-link 'login'
                  priority='secondary'
                  size='small'}}
                  Admin Login
                {{/frost-link}}
            </span>
            <span class='link'>
                <a href='https://www.github.com/ciena-blueplanet'>
                    <div class='content'>
                        Interested in Contributing?
                    </div>
                </a>
            </span>
        </span>
    </div>
</div>