<div class="container">
    <div class='main'>
        <div class='title'>
            Administrator Login
        </div>
        <div class='login'>
            {{frost-bunsen-form
            bunsenModel=loginModel
            bunsenView=loginView
            disabled=isFormDisabled
            onChange=(action "formChange")
            onValidation=(action "formValidation")
            }}
            {{frost-button
            disabled=(or isFormDisabled isFormInvalid)
            onClick=(action "submitForm")
            priority="primary"
            size="medium"
            text="Sign In"
            }}
        </div>
        <div class='result'>
        </div>
    </div>
    <div class='footer'>
        <span class='ciena-image'>
        </span>
        <span class='bar'>
            <span class='link'>
                {{#frost-link 'portal'
                priority='secondary'
                size='small'
                tab-index='-1'}}
                Sign Up
                {{/frost-link}}
            </span>
            <span class='link'>
                <a href='https://www.github.com/ciena-blueplanet/webdriverio-server'>
                    <div class='content'>
                        Interested in Contributing?
                    </div>
                </a>
            </span>
        </span>
        <span class='ciena-image'>
            <img src="./images/ciena_logo.png">
        </span>
    </div>
</div>
