<div class="container">
    <div class='login-main'>
        <div class='login'>
            <span id='login-image' class='blue-planet-image'>
                <img src="./images/ciena_logo.png">
            </span>
            <div class="form">
                {{frost-bunsen-form
                  bunsenModel=loginModel
                  bunsenView=loginView
                  onChange=(action "formChange")
                }}
            </div>
            <div class='login-result'>
            </div>
            <div class="login-button">
                {{frost-button
                  onClick=(action "submitForm")
                  priority="primary"
                  size="medium"
                  text="Log in"
                }}
            </div>
        </div>
    </div>
</div>
