<div class="container">
    <div class='login-main'>
        <div class='login'>
            <span id='login-image' class='blue-planet-image'>
                <img src="./images/blue_planet_logo.png">
            </span>
            <div class="form">
                {{frost-bunsen-form
                bunsenModel=loginModel
                bunsenView=loginView
                disabled=isFormDisabled
                onChange=(action "formChange")
                onValidation=(action "formValidation")
                }}
            </div>
            <div class='login-result'>
            </div>
            <div class="login-button">
                {{frost-button
                disabled=(or isFormDisabled isFormInvalid)
                onClick=(action "submitForm")
                priority="primary"
                size="medium"
                text="Login"
                }}
            </div>
        </div>
    </div>
    <div class='login-footer'>
        <span class='bar'>
            <span class='link'>
                {{#frost-link 'index'
                priority='secondary'
                size='small'
                tab-index='-1'}}
                Sign Up
                {{/frost-link}}
            </span>
            <span class='link'>
                <a href='https://www.github.com/ciena-blueplanet'>
                    <div class='content'>
                        Interested in Contributing?
                    </div>
                </a>
            </span>
        </span>
    </div>
</div>
