<div class='portal-bar'>
    <div class='bp-logo'>
        <img src='./images/bp-logo.png'>
    </div>
</div>
<div class='main-body'>
    {{#frost-object-browser as |slot|}}
        {{#block-slot slot 'info-bar'}}
            {{#frost-info-bar as |slot|}}
                {{#block-slot slot 'title'}}
                    Resources
                {{/block-slot}}
                {{#block-slot slot 'actions' as |controls|}}
                    {{controls.button
                    icon='frost/infobar-create'
                    onClick=(action 'createUser')
                    text='Create'
                    }}
                {{/block-slot}}
            {{/frost-info-bar}}
        {{/block-slot}}
        {{#block-slot slot 'actions' as |controls selections|}}
            {{controls.button
            priority="secondary"
            text='Restrict'
            }}
            {{controls.button
            priority="secondary"
            text='Generation token'
            }}
        {{/block-slot}}
    {{/frost-object-browser}}
</div>